doc.tex
exam.tex
gitattributes
haskell.tex
ltxobj
makefiles.pdf
makefiles.pytxcode
noweb.tex
pkg.tex
portability.tex
pub.tex
pythontex-files-makefiles
results.tex
subdir.tex
tex.tex
transform.tex
Dockerfile.tex
intro.tex
Makefile.tex
